Django==3.1.7
dj-static==0.0.6
psycopg2==2.8.6
python-barcode==0.13.1
python-decouple==3.4
xlwt==1.3.0
Pillow==8.1.0
django-widget-tweaks==1.4.8
django-extensions==3.1.1
ipython==7.21.0
djangorestframework==3.12.2
python-dateutil~=2.8.1
pandas==1.2.4
dj-database-url==0.5.0
gunicorn==20.1.0
boto3==1.17.76
django-storages==1.11.1
