{% extends 'base.html' %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <div style="display: flex; align-items: center; justify-content: space-between">
                <h3 class="text-darker">Listagem de Produtos</h3>
                {#                {% if user.funcionario.is_manager_or_analyst %}#}
                {% if perms.controle_estoque.add_produto %}
                    <a href="#" onclick="open_modal('{% url 'modal-cria-produto' %}')">
                        <button class="btn btn-info mr-2" type="submit">Criar Novo Produto</button>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped table-responsive-lg">
                <thead class="thead-light">
                <tr>
                    <th class="text-center">Produto</th>
                    <th>categoria</th>
                    <th>subcategoria</th>
                    <th>tamanho</th>
                    <th>Cor</th>
                    <th>total_pecas</th>
                    <th>EAN</th>
                    <th>SKU</th>
                    {% if perms.controle_estoque.change_produto %}
                        <th class="text-center">Ações</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for produto in produtos %}
                    <tr>
                        <td>
                            <a href="#" onclick="open_modal('{% url 'detalhe_produto' produto.id %}')">
                                Produto {{ produto.ean }}
                            </a>
                        </td>
                        <td> {{ produto.categoria }}</td>
                        <td> {{ produto.subcategoria }}</td>
                        <td> {{ produto.tamanho }}</td>
                        <td> {{ produto.cor }}</td>
                        <td> {{ produto.total_pecas }}</td>
                        <td> {{ produto.ean }}</td>
                        <td> {{ produto.sku }}</td>


                        {% if user.funcionario.is_manager %}
                            <td style="display: flex; justify-content: space-between">
                                <a href="#" onclick="open_modal('{% url 'modal-atualiza-produto' produto.id %}')">
                                    <i class="fa fa-edit text-info"></i></a>
                                <a href="#" onclick="open_modal('{% url 'modal-remove-produto' produto.id %}')">
                                    <i class="fa fa-trash text-danger"></i></a>
                            </td>
                        {% elif user.funcionario.is_analyst %}
                            <td class="text-center">
                                <a href="#" onclick="open_modal('{% url 'modal-atualiza-produto' produto.id %}')">
                                    <i class="fa fa-edit text-info"></i></a>
                            </td>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade center" id="open-modal" tabindex="-1" role="dialog"></div>
{% endblock %}
{% block extrajs %}
    <script>
        function open_modal(url) {
            $('#open-modal').focus().load(url, function () {
                $(this).modal('show');
            })
        }
    </script>
{% endblock %}
