{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <div id="vue-app">
        <div class="card">
            <div class="card-header text-center mt-2">
                <h2 class="card-text">App de Compras</h2>
            </div>
            <div class="card-body">
                <div class="alert-warning" v-if="errors">

                </div>
                <form @submit.prevent="add_produto" name="produtos_comprados">
                    {% csrf_token %}
                    <div class="col-sm-12 padding-off">
                        <div class="row justify-content-center" v-if="errors.length" v-for="error in errors">
                            <div class="col-sm-5">
                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                    <span class="alert-text"><strong>Atenção</strong> [[error]]</span>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-3">
                                <div class="form-group-inline">
                                    <label class="sr-only" for="Produto"></label>
                                    <input type="text" id="Produto" name="produto_ean"
                                           class="form-control" placeholder="Digite o EAN do produto"
                                           v-model="produto_ean" maxlength="13"
                                           data-ls-module="charCounter"/>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="form-group-inline">
                                    <label class="sr-only" for="quantidade"></label>
                                    <input type="text" id="quantidade" name="newDomain"
                                           class="form-control" v-model="quantidade"/>
                                </div>
                            </div>
                            <div class="col-1 ">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-block">
                                        <i aria-hidden="true" class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="col-sm-12 pt-5 mb-lg-5">
                    <template v-if="produtos.length">
                        <div class="card-header text-center">

                            <h2>Lista de produtos selecionados para compra:</h2>
                        </div>
                        <table class="table table-responsive mt-5" id="table_id">
                            <thead class="thead-active text-muted">
                            <tr>
                                <th scope="col">Produtos</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Subcategoria</th>
                                <th scope="col">Tamanho</th>
                                <th scope="col">Quantidade</th>
                                <th scope="col">Cor</th>
                                <th scope="col">Genero</th>
                                <th scope="col">Codigo de Barras</th>
                                <th scope="col">Em estoque</th>
                                <th scope="col">Preço</th>
                                <th scope="col">Fornecedor</th>
                                <th scope="col">Remover</th>
                            </tr>
                            </thead>
                            <tbody>
                            <template v-for="produto in produtos.slice().reverse()">
                                <tr>
                                    <td>[[ produto.produto.descricao ]]</td>
                                    <td>[[ produto.produto.nome_categoria ]]</td>
                                    <td>[[ produto.produto.nome_subcategoria ]]</td>
                                    <td>[[ produto.produto.tamanho ]]</td>
                                    <td>[[ produto.quantidade ]]</td>
                                    <td>[[ produto.produto.cor ]]</td>
                                    <td>[[ produto.produto.genero ]]</td>
                                    <td>[[ produto.produto.ean ]]</td>
                                    <td>[[ produto.produto.total_pecas ]]</td>
                                    <td>[[ (produto.produto.preco_compra * produto.quantidade).toLocaleString(
                                        'pt-br',{style: 'currency', currency: 'BRL'}) ]]
                                    </td>
                                    <td>[[produto.produto.nome_fornecedor]]</td>
                                    <td>
                                        <button @click="remove_produto(produto)" class="btn btn-sm btn-danger">
                                            <i aria-hidden="true" class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>

                            </template>
                            </tbody>
                        </table>
                    </template>
                </div>
                <div class="form-row mt-5 align-items-center justify-content-center">
                    <div class="form-group">
                        <h3>Valor total: [[ valor_total.toLocaleString(
                            'pt-br',{style: 'currency', currency: 'BRL'}) ]]</h3>
                        <button @click="realiza_compra" class="btn btn-success mr-5">
                            Realizar Compra
                            <i aria-hidden="true" class="fas fa-store ml-2"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block extrajs %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#table_id").DataTable({
                "language": {
                    "lengthMenu": "Listando _MENU_ registro por pagina",
                    "zeroRecords": "Nenhum registro localizado",
                    "info": "Pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "infoFiltered": "(Filtrado de _MAX_ total resultados)",
                    "search": "Buscar",
                    "paginate": {
                        "first": "Primeira",
                        "last": "Ultima",
                        "next": "Proxima",
                        "previous": "Anterior"
                    },
                }
            });
        });
    </script>
    <script type="text/javascript">
        let app = new Vue({
            el: "#vue-app",
            delimiters: ['[[', ']]'],
            data() {
                return {
                    produto_ean: '',
                    quantidade: 1,
                    produtos: [],
                    valor_total: 0.00,
                    errors: [],
                    cpf: false,
                    vendedor: '',
                    numCpf: '',
                    formaPagamento: ''
                }
            },
            computed: {
                eanIsValid() {
                    this.errors = []
                    return this.produto_ean.length >= 13
                }
            },
            methods: {
                validateProdutoinProdutosCart(produto, quantidade) {
                    var i;
                    if (isNaN(quantidade)) {
                        this.errors.push("Quantidade precisa ser um numero valido");
                        return true
                    } else if (quantidade <= 0) {
                        this.errors.push("Insira uma quantidade válida");
                        return true
                    }
                    for (i = 0; i < this.produtos.length; i++) {
                        if (this.produtos[i].produto.ean === produto.ean) {
                            this.valor_total = (Number(produto.preco_compra) * this.quantidade) + this.valor_total
                            this.produtos[i].quantidade = Number(quantidade) + Number(this.produtos[i].quantidade)
                            this.errors.push("Produto já consta na lista de compra, quantidade adicionada ao produto")
                            return true
                        }
                    }
                },
                add_produto() {
                    if (this.eanIsValid) {
                        axios.get(`/api-rest/produto/${this.produto_ean}`)
                            .then(response => {
                                if (response.status === 200) {
                                    this.errors = []
                                    if (!this.validateProdutoinProdutosCart(response.data, this.quantidade)) {
                                        this.produtos.push(
                                            {
                                                'produto': response.data,
                                                "quantidade": this.quantidade
                                            }
                                        )
                                        this.valor_total += (Number(response.data.preco_compra) * this.quantidade)
                                    }
                                    this.quantidade = 1
                                    this.produto_ean = ""
                                }
                            })
                            .catch(error => {
                                if (error.response.status === 404) {
                                    this.errors = []
                                    this.errors.push("Produto não localizado")
                                }
                                console.log(error);
                            })
                    } else {
                        this.errors = []
                        this.errors.push("Digite um EAN com no mínimo 13 digitos")
                    }
                },
                remove_produto(produto) {
                    this.valor_total -= (Number(this.produtos[this.produtos.indexOf(produto)].produto.preco_compra) *
                        this.produtos[this.produtos.indexOf(produto)].quantidade)
                    this.produtos.splice(this.produtos.indexOf(produto), 1)
                    if (this.produtos.length === 0) {
                        this.valor_total = 0
                    }
                },
                realiza_compra() {
                    function getCookie(name) {
                        let cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                            const cookies = document.cookie.split(';');
                            for (let i = 0; i < cookies.length; i++) {
                                const cookie = cookies[i].trim();
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }

                    const csrftoken = getCookie('csrftoken');
                    console.log(csrftoken)
                    axios.post("/api-rest/produto/realiza_compras/",
                        data = {"produtos": this.produtos},
                        headers = {'csrftoken': csrftoken})
                        .then(response => {
                            if (response.status === 200) {
                                console.log(response.data)
                                setTimeout(() => {
                                    console.log("World!");
                                }, 25565160000)
                                location.reload()
                            }
                        })
                        .catch(error => {
                            console.log(error);
                            this.errors.push("Erro na requisição")
                        })
                }
            }
        })
    </script>
{% endblock %}