{% extends 'base.html' %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <div style="display: flex; align-items: center; justify-content: space-between">
                <h3 class="text-darker">Listagem Pedidos</h3>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped table-responsive-lg" id="table_pedidos">
                <thead class="thead-light">
                <tr>
                    <th class="text-center">Pedido</th>
                    <th>Fornecedor</th>
                    <th>Data Pedido</th>
                    <th>Qtd. Produtos</th>
                    <th>Status</th>
                    <th>Descrição</th>
                    <th class="text-center">Gerado por</th>
                </tr>
                </thead>
                <tbody>
                {% for pedido in pedidos %}

                    <tr>
                        <td>
                            <a href="#" onclick="open_modal_details('{% url 'detalhe_pedido' pedido.id %}')">
                                Pedido {{ pedido.id }}
                            </a>
                        </td>
                        <td> {{ pedido.fornecedor }}</td>
                        <td> {{ pedido.data_pedido }}</td>
                        <td> {{ pedido.get_len_produtos_comprados }} un.</td>
                        <td> {{ pedido.get_status_display }}</td>
                        {% if pedido.descricao == None %}
                            <td> Sem descrição</td>
                        {% else %}
                            <td> {{ pedido.descricao }}</td>
                        {% endif %}
                        <td> {{ pedido.criado_por.get_full_name }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    <div class="modal fade center" id="detail_modal" tabindex="-1" role="dialog"></div>

{% endblock %}

{% block extrajs %}
    <script>
        function open_modal_details(url) {
            $('#detail_modal').focus().load(url, function () {
                $(this).modal('show');
            })
        }

        $(document).ready(function () {
            $('#table_pedidos').DataTable({
                "language": {
                    "lengthMenu": "Listando _MENU_ registros por pagina",
                    "zeroRecords": "Nenhum registro localizado",
                    "info": "Pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "infoFiltered": "(Filtrado de _MAX_ total resultados)",
                    "search": "Buscar",
                    "paginate": {
                        "first": "Primeira",
                        "last": "Ultima",
                        "next": "Proxima",
                        "previous": "Anterior"
                    },
                }
            });
        });
    </script>
{% endblock %}