{% extends 'base.html' %}
{% block content %}
    <div id="vue-app">
        <div class="card">
            <div class="card-header">
                <h2>Titulo</h2>
            </div>
            <div class="card-body">
                <p>Ipsum Lorem...........</p>
                <p>[[ myTitle ]]</p>
            </div>
        </div>
    </div>

{% endblock %}
{% block extrajs %}
    <script type="text/javascript">
        let app = new Vue({
            el: "#vue-app",
            delimiters: ['[[', ']]'],
            data: {
                myTitle: 'Hello Vue!',
            },
        });
    </script>
{% endblock %}