<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <div class="col-md-12">
        <div class="row mt-lg-3">
            <div class="col-md-6 mb-4">
                <h4>Status</h4>
                <p>{{ form.status }}</p>
            </div>
            <div class="col-md-6 mb-4">
                <h4>Fornecedor</h4>
                <p>{{ form.fornecedor }}</p>
            </div>
            <div class="col-md-6 mb-4">
                <h4>Descrição</h4>
                <p>{{ form.descricao }}</p>
            </div>
            <div class="col-md-6 mb-4">
                <h4>Nota Fiscal</h4>
                <p>{{ form.nota_fiscal }}</p>
            </div>
        </div>
        {#        {% if produtos %}#}
        <div class="row mt-lg-12">
            <h4 class="text-center">Produtos</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead class="table" style="background-color: #5e72e4; color: #fff">
                    <tr>
                        <th>SKU</th>
                        <th>Cor</th>
                        <th>Fornecedor</th>
                        <th>Preço de Compra</th>
                        <th>Quantidade</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for produto in produtos %}
                        <tr>
                            <td>{{ produto.produto.sku }}</td>
                            <td>{{ produto.produto.cor }}</td>
                            <td>{{ produto.produto.fornecedor }}</td>
                            <td>{{ produto.produto.preco_compra }}</td>
                            <td>{{ produto.quantidade }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {#        {% else %}#}
        {#            <h4>Sem produtos cadastrados para este pedido</h4>#}
        {#        {% endif %}#}
    </div>
    <button type="submit">Salvar</button>
</form>
</body>
</html>

