{% load static %}
<div class="navbar-inner mt-5">
    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <ul class="navbar-nav" style="margin-top: 15%">
            {% if user.funcionario.is_manager_or_analyst %}
                <li class="nav-item">
                    <a class="nav-link {% if active == 'dashboard' %} active {% endif %}" href="{% url 'dashboard' %}">
                        <i class="fas fa-chart-line"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link {% if active == 'lista-produtos' %} active {% endif %}"
                   href="{% url 'lista-produtos' %}">
                    <i class="fa fa-barcode"></i>
                    <span class="nav-link-text">Produtos em Estoque</span>
                </a>
            </li>
            {% if user.funcionario.is_manager_or_analyst_or_stockist %}
                <li class="nav-item ">
                    <a class="nav-link {% if active == 'lista-pedidos' %} active {% endif %}"
                       href="{% url 'lista-pedidos' %}">
                        <i class="fa fa-truck"></i>
                        <span class="nav-link-text">Listagem Pedidos</span>
                    </a>
                </li>
            {% endif %}
            {% if user.funcionario.is_manager_or_analyst_or_cashier_or_seller %}
                <li class="nav-item">
                    <a class="nav-link {% if active == 'lista-vendas' %} active {% endif %}"
                       href="{% url 'lista-vendas' %}">
                        <i class="fa fa-list"></i>
                        <span class="nav-link-text">Listagem Vendas</span>
                    </a>
                </li>
            {% endif %}
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        {% if user.funcionario.is_manager_or_analyst_or_cashier %}
            <h6 class="navbar-heading p-0 text-muted">
                <span class="docs-normal">Apps do Sistema</span>
            </h6>
        {% endif %}
        <!-- Navigation -->
        {% if user.funcionario.is_manager_or_cashier %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if active == 'app-vendas' %} active {% endif %}" href="{% url 'appvendas' %}">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="nav-link-text">App de Vendas</span>
                    </a>
                </li>
            </ul>
        {% endif %}
        {% if user.funcionario.is_manager_or_analyst %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app_compra' %}">
                        <i class="fas fa-tshirt"></i>
                        <span class="nav-link-text">App de Compra de Pedidos</span>
                    </a>
                </li>
            </ul>
        {% endif %}
    </div>
</div>