{% extends 'base.html' %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="text-darker">Listagem de Vendas</h3>

            <div class="col-md-auto">
                <form class="form-inline my--2 pull-right">
                    <div class="col-md-auto">
                        <label class="text-darker">Data Inicial</label>
                        <input class="form-control" name="data_inicial" type="date"/>
                    </div>
                    <div class="col-md-auto">
                        <label class="text-darker">Data Final</label>
                        <input class="form-control" name="data_final" type="date"/>
                    </div>
                    <div style="padding-top: 25px">
                        <button class="btn btn-primary m-2 my-sm-0" type="submit">Filtrar Data</button>
                    </div>
                </form>
            </div>


        </div>
        <div class="card-body">
            <table class="table table-striped table-responsive-lg" id="table_vendas">
                <thead class="thead-light">
                <tr>
                    <th class="text-center">Vendas</th>
                    <th>Status</th>
                    <th>Caixa</th>
                    <th>Vendedor</th>
                    <th>Desconto</th>
                    <th>Valor Total da Venda</th>
                    <th>Forma de Pagamento</th>
                    <th>Criado Em</th>
                    <th>Descrição</th>
                </tr>
                </thead>
                <tbody>
                {% for venda in vendas %}
                    <tr>
                        <td><a href="#"
                               onclick="open_modal_details('{% url 'detalhe_venda' venda.id %}')">Venda {{ venda }}</a>
                        </td>
                        <td> {{ venda.get_status_display }} </td>
                        <td> {{ venda.caixa }} </td>
                        <td> {{ venda.vendedor }} </td>
                        <td> {{ venda.desconto }} </td>
                        <td> R$ {{ venda.valor_total_venda }} </td>
                        <td> {{ venda.get_forma_pagto_display }} </td>
                        <td> {{ venda.criado_em }} </td>
                        {% if venda.descricao == None %}
                            <td>Sem descrição</td>
                        {% else %}
                            <td>{{ venda.descricao }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade center" id="detail_modal" tabindex="-1" role="dialog"></div>
{% endblock %}
{% block extrajs %}
    <script>
        function open_modal_details(url) {
            $('#detail_modal').focus().load(url, function () {
                $(this).modal('show');
            })
        }

        $(document).ready(function () {
            $("#table_vendas").DataTable({
                "language": {
                    "lengthMenu": "Listando _MENU_ registro por pagina",
                    "zeroRecords": "Nenhum registro localizado",
                    "info": "Pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "infoFiltered": "(Filtrado de _MAX_ total resultados)",
                    "search": "Buscar",
                    "paginate": {
                        "first": "Primeira",
                        "last": "Ultima",
                        "next": "Proxima",
                        "previous": "Anterior"
                    },
                }
            });
        });
    </script>
{% endblock %}
